doctype
html(lang='en' ng-app='ratesApp')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')

    script(src='/javascripts/angular.min.js')
    script(src='/javascripts/angular-resource.min.js')
    script(src='/javascripts/angular-route.min.js')
    script( src='/javascripts/app.js')
    script( src='/javascripts/controllers.js')
    script( src='/javascripts/services.js')
    
  body!= body